<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Love</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style2.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 align="center">Happy 200 Days</h1>
        <div class="card-group">
            <div class="card">
              <img src="{{url_for('static', filename='photo1.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">First Day</h5>
                <p class="card-text">She said yes. It was the happiest day of my life. The first day we fall in love with each other.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">21/3/2023</small>
              </div>
            </div>
            <div class="card">
              <img src="{{url_for('static', filename='photo2.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Her First Birthday With Me</h5>
                <p class="card-text">Celebrating her birthday, but this time it was with someone special.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">19/5/2023</small>
              </div>
            </div>
            <div class="card">
              <img src="{{url_for('static', filename='photo3.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Art Gallery Together</h5>
                <p class="card-text">We visited national art gallery together. Took a lot of 男友视角 and 女友视角 photos 哈哈哈.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">21/5/2023</small>
              </div>
            </div>
          </div>
          <div class="card-group">
            <div class="card">
              <img src="{{url_for('static', filename='photo4.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Feseni Day 1</h5>
                <p class="card-text">Touching day. She ordered lunch for me as I was too busy with rehearsal and even come to the performance alone to support me.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">30/5/2023</small>
              </div>
            </div>
            <div class="card">
              <img src="{{url_for('static', filename='photo5.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Feseni Day 2</h5>
                <p class="card-text">Another touching day. She queued for a long time just to buy 1 ticket to support my performance.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">31/5/2023</small>
              </div>
            </div>
            <div class="card">
              <img src="{{url_for('static', filename='photo6.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">POST Exam: NextGen</h5>
                <p class="card-text">We went crazy with this trip, especially with the karaoke.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">12/7/2023</small>
              </div>
            </div>
          </div>
          <div class="card-group mb-5">
            <div class="card">
              <img src="{{url_for('static', filename='photo7.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Last Day Before Sem Break</h5>
                <p class="card-text">The last day before the semester break starts meaning a 3 months long distance relationship began. After dinner, we 不约而同 propose to go to 天后宫.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">13/7/2023</small>
              </div>
            </div>
            <div class="card">
              <img src="{{url_for('static', filename='photo8.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Last Day 一起熬夜</h5>
                <p class="card-text">舍不得睡觉的两个人，只能陪伴彼此多一点时间</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">13/7/2023</small>
              </div>
            </div>
            <div class="card">
              <img src="{{url_for('static', filename='photo9.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Video Call</h5>
                <p class="card-text">Although we are in long distance relationship, but we still had a lot of fun from these Video Calls. 记得要full attendance哦哈哈哈</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">16/9/2023</small>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <a href="/logout" id="logout">Logout</a>
          </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>